{{define "pwresetdoneHTML"}}
<!DOCTYPE html>
<html>
{{template "headHTML" "Password Reset"}}
<body>
    <div class="full-visual-height d-flex align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-5 offset-md-2">
                    <h1>Check your email</h1>
                    <p>If you have provided a registered email address, you will receive an email with further instructions shortly.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{{end}}